<div>
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">Software Repositories</h1></div> <!-- /.col-lg-12 -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>runs on node</th>
                        <th>see details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sr in swreps">
                        <td><a ui-sref="root.node.detail({ id:sr })">{{sr | limitTo: 8}}</a></td>
                        <td><a ui-sref="root.swrep.detail({ id:sr })">detail</a></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-responsive -->
        </div> <!-- /.col-lg-4 -->
    </div> <!-- /.row -->
</div>