<div>
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">Bpk packages</h1></div> <!-- /.col-lg-12 -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>started</th>
                        <th>uptime</th>
                        <th>type</th>
                        <th>OS (version)</th>
                        <th>architecture</th>
                        <th>vendor (version)</th>
                        <th>java (version)</th>
                        <th>ram</th>
                        <th>swap</th>
                        <th>cpu</th>
                        <th>cores</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bpk in bpks">
                        <td><a ui-sref="admin.nodedetail({ id: node.id })">{{node.id | limitTo: 8}}</a></td>
                        <td>{{node.startUpTime | dateFormat:'yy/MM/dd hh:mm:ss'}}</td>
                        <td>{{node.startUpTime | timeDiffToString: currentTime}}</td>
                        <td>{{node.nodeType}}</td>
                        <td>{{node.operatingSystem.name}} ({{node.operatingSystem.version}})</td>
                        <td>{{node.operatingSystem.arch}}</td>
                        <td>{{node.operatingSystem.vendor}} ({{node.operatingSystem.vendorVersion}})</td>
                        <td>{{node.java.vendor}} ({{node.java.version}})</td>
                        <td>{{node.hardware.memory.ram | bytesToString}}</td>
                        <td>{{node.hardware.memory.swap | bytesToString}}</td>
                        <td>{{node.hardware.cpu[0].vendor}} - {{node.hardware.cpu[0].model}}</td>
                        <td>{{node.hardware.cpu.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-responsive -->
        </div> <!-- /.col-lg-4 -->
    </div> <!-- /.row -->
</div>